[submodule "Melone/Vendor/spdlog"]
	path = Melone/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Melone/Vendor/GLFW"]
	path = Melone/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Melone/Vendor/glm"]
	path = Melone/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Melone/Vendor/imgui"]
	path = Melone/Vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Melone/Vendor/yaml-cpp"]
	path = Melone/Vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
